@tailwind base;
@tailwind components;
@tailwind utilities;

.CreateCampaignFrame {
  background: linear-gradient(180deg, #FFF4DB 0%, #FFFBF1 100%);
}

input::placeholder,textarea::placeholder {
  color: black;
}

/*html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/
